@charset "UTF-8";
/* CSS Document */


/*Desktop / Global View*/

body {
	font-family: 'Work Sans', sans-serif;
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
}

.col {
	float:left;
	padding: 1%; 
	padding-top: 150px;

	

}

.col-lg { 
width: 31%;
	
}


.col-lg img { 
	display: block;
		height:auto; 
		width:110%;
		padding:20px;
		left-margin: -90px;
Position:relative;
	bottom: -150px;
	left: -50px;

}

.col-lg2 img {
	display:block; 
	height:375px; 
	width:305px;
	Position:relative; 
	right: 20px;

	
	
	
}

.slicknav_menu {
	display: none;
}

#menu {
	float: right;
}

#menu li {
	display: inline-block;
}

#menu li a {
	text-decoration: none;
	color: #4e4e4e;
	padding: 8px;
	font-size: 18px;
	font-weight: 400;
}

header {
	padding: 10px 20px 20px 20px;
}



.hero {
	background-image: url("../images/Jacksonville png.png");
	padding: 10px 0px 50px 50px; 
	background-size:cover;
	height:375px

}

.subheading {
	color:#502652;
	font-weight: 300; 
	font-size: 40px;
	

}

.heading-body-copy {
	color:#FFFCFC;
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	font-size: 14;
	margin-right: 20%;
	margin-bottom: 30%;
	
}
	
	.colored { 
	background-color: #EA6D61;
	padding: 10px 0px 50px 50px; 
	background-size:cover;
	height:375px

	
	} 

.subheading2 { 
	color:#fff;
	font-weight: 300; 
	font-size: 40px;
position:relative; bottom:25px;
	
}

.resume { 
position: absolute;
left: 500px;
	bottom:-270px;
	height:100px;
	z-index:50;


}


#demobox {
  background-color: #00C8DC;
	padding: 10px 0px 50px 50px;
	background-size:cover;
	height:375px;
position: absolute; 
	bottom:-1800px;
	width: 1000px;
	
}

.Skills {
	color:#fff;
	font-weight: 300; 
	font-size: 40px;
position:relative; bottom:25px;
	
	
	
}

.skillsphoto { 
	position: absolute;
	padding-left: 30px;
	bottom:-1550px;
	height:150px;
	z-index:50;



}


.skillsphoto1 { 
position: absolute;
	left: 0px;
	bottom:-1550px;
	height:50px;
	z-index:50;
	Left: 400px;
	padding: 20px;
	

}

	
	
	
	*Tablet View*/

@media (max-width: 768px) {

#menu li {
	display: block;
	text-align: right;
}


}












/*Mobile View*/

@media (max-width: 400px) {


	.slicknav_menu {
		display: block;
	}

	#menu {
		display: none;
	}
	

}